<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>

    <link href="css/modal.css" rel="stylesheet">

    <script src="js/modal.js" type="text/javascript"></script>
    <script src="js/edit.js" type="text/javascript"></script>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body>
<div style="margin-top: 2%;">
    <div id="modal" class="modal-my">
        <!-- Modal content -->
        <!-- Modal content -->
        <div class="modal-content-my">
            <div class="modal-header-my">
                <h2>Add User</h2>
            </div>
            <div class="modal-body-my">
                <form id="create-user" action="#" th:action="@{/users}" th:object="${user}" method="post">
                    <input type="text" th:field="*{id}" hidden/>
                    <p>Name: <input type="text" th:field="*{name}"/></p>
                    <p>Age: <input type="number" th:field="*{age}"/></p>
                    <p><input type="submit" value="Save"/></p>
                </form>
                <form id="update-user" action="#" th:action="@{/update}" th:object="${user}" method="post">
                    <input type="text" id="user-id" th:field="*{id}" hidden/>
                    <p>Name: <input type="text" id="user-name" th:field="*{name}"/></p>
                    <p>Age: <input type="number" id="user-age" th:field="*{age}"/></p>
                    <p><input type="submit" value="Update"/></p>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-container content-page">
            <div class="body content rows scroll-y">
                <div class="row" id="plato">
                    <div class="col-12">
                        <div class="shadow p-3 mb-5 bg-white rounded col">
                            <h2 class="label label-info" th:if="${users == null || users.isEmpty()}">No users yet!</h2>
                            <div th:if="${users != null && !users.isEmpty()}">
                                <h2 class="label label-info">Users</h2>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td name="id" th:text="${user.id}" hidden></td>
                                        <td scope="row" name="name" th:text="${user.name}"></td>
                                        <td scope="row" name="age" th:text="${user.age}"></td>
                                        <td scope="row"><span class="fa-stack edit-user"><i
                                                class="fa fa-square fa-stack-2x" style="color: #3498db;"></i> <i
                                                class="fa fa-pencil fa-stack-1x fa-inverse"></i></span></td>
                                        <td scope="row"><span class="fa-stack"><form action="#"
                                                                                     th:onclick="|deleteUser('${user.id}')|"> <i
                                                class="fa fa-square fa-stack-2x" style="color: #e74c3c;"></i> <i
                                                class="fa fa-trash-o fa-stack-1x fa-inverse"></i></form></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button id="open-modal" class="btn btn-info">
                                Add user
                            </button>
                            <a class="btn btn-info" th:href="@{/adults}">Get adults</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteUser(id) {
        console.log("I am here");
        $.ajax({
            url: '/users/' + id,
            type: 'DELETE',
            success: function (data) {
                debugger;
                window.location.href = "users";
            }
        });
    }
</script>
</body>
</html>